<a href="https://colab.research.google.com/github/sergioopereira/AI/blob/main/mod4_redes_neurais/Code/NovoDataPrep/01_VentoVerificado_Patio1.v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd
from datetime import datetime,date,time
from dateutil.relativedelta import relativedelta

### **A) Coleta dos Dados de Vento Verificado no Patio 1**

In [8]:
source_file = 'raw/01_patio_BAUET3_CAETITÉ_3_Ven_Verif_Consis.txt'

In [9]:
dfvento_consit = pd.read_csv(source_file, delimiter = ';' , header=None )

### **B) Sobre os Dados no Patio 1**

#### <span style="color:#DC143C">**B1.Formato dos Dados**

In [10]:
dfvento_consit.shape # formato da matriz

(3153, 49)

#### <span style="color:#DC143C">**B2.Visao do Dataframe**

In [11]:
dfvento_consit.head(2)  # visão de 5 linhas

         0      1      2      3      4   ...     44     45     46     47     48
0  20120101  999.0  999.0  999.0  999.0  ...  999.0  999.0  999.0  999.0  999.0
1  20120102  999.0  999.0  999.0  999.0  ...  999.0  999.0  999.0  999.0  999.0

[2 rows x 49 columns]

### **C) Extração os Dados de 2017**

#### <span style="color:#DC143C"> **C1. Converter a primeira coluna em Data**

In [12]:
dfvento_consit[0]= pd.to_datetime(dfvento_consit[0], format='%Y%m%d')

#### <span style="color:#DC143C"> **C2.Remove registros fora do Intervalo**

In [13]:
dfvento_consit = dfvento_consit.drop(dfvento_consit[dfvento_consit[0] > '2017-12-31'].index)
dfvento_consit = dfvento_consit.drop(dfvento_consit[dfvento_consit[0] < '2017-01-01'].index)

In [14]:
dfvento_consit['longitude'] = -42.75
dfvento_consit['latitude']  = -14.25

In [15]:
cols = list(dfvento_consit)
cols = [cols[-1]] + cols[:-1]
dfvento_consit = dfvento_consit[cols]

cols = list(dfvento_consit)
cols = [cols[-1]] + cols[:-1]
dfvento_consit = dfvento_consit[cols]

In [16]:
dfvento_consit = dfvento_consit.reset_index()

### **D) Formatação dos Dados**

#### <span style="color:#DC143C"> **D1. Migrar os dados para o Formato**

In [17]:
frente = ['Longitude', 'Latitude', 'Data', 'Valor30_1', 'Valor30_2']  # Cabeçalho
df_result_vento_verif = pd.DataFrame(columns=frente)  # Criação de um dataframe vazio
    
Linha1    =  dfvento_consit.shape[0] 
Colunas1  =  dfvento_consit.shape[1] 

for lin2 in range(Linha1):  
    refhora = 0
    
    for col in range (Colunas1):        
        if col > 0:            
        
            if col % 2 != 0: # Se o número (col) for impar                   
               
                if col < 49:
                    
                    Data = dfvento_consit.loc[lin2,0]
                                  
                    hora = time(hour=refhora, minute=0, second=0)            
                    dataCompleta = datetime.combine(Data, hora)
                    #print(dataCompleta)
                    lin_alvo = [dfvento_consit.loc[lin2,'longitude'], dfvento_consit.loc[lin2,'latitude'], dataCompleta , dfvento_consit.loc[lin2,col], dfvento_consit.loc[lin2,col+1]] 
                    # print(lin_alvo)
                    df_result_vento_verif.loc[len(df_result_vento_verif)] = lin_alvo  # adding a row
                         
                refhora = refhora + 1

#### <span style="color:#DC143C"> **D2. Informações sobre os Tipos de Dados**

In [18]:
df_result_vento_verif.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 8759
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Longitude  8760 non-null   float64
 1   Latitude   8760 non-null   float64
 2   Data       8760 non-null   datetime64[ns]
 3   Valor30_1  8760 non-null   float64
 4   Valor30_2  8760 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 410.6 KB

In [19]:
df_result_vento_verif.shape

(8760, 5)

#### <span style="color:#DC143C"> **D3. Agregar Magnitude para 1H**

In [20]:
df_result_vento_verif['Magnitude_Verif'] = (df_result_vento_verif['Valor30_1'] + df_result_vento_verif['Valor30_2']) / 2

In [21]:
# Formatar o resultado com 2 casas decimais
df_result_vento_verif['Magnitude_Verif'] = df_result_vento_verif['Magnitude_Verif'].round(decimals=2)

In [22]:
df_result_vento_verif = df_result_vento_verif.drop('Valor30_1', 1)
df_result_vento_verif = df_result_vento_verif.drop('Valor30_2', 1)

In [23]:
df_result_vento_verif.head(10)

   Longitude  Latitude                Data  Magnitude_Verif
0     -42.75    -14.25 2017-01-01 00:00:00             9.82
1     -42.75    -14.25 2017-01-01 01:00:00             8.74
2     -42.75    -14.25 2017-01-01 02:00:00             8.45
3     -42.75    -14.25 2017-01-01 03:00:00             9.18
4     -42.75    -14.25 2017-01-01 04:00:00             9.19
5     -42.75    -14.25 2017-01-01 05:00:00             9.36
6     -42.75    -14.25 2017-01-01 06:00:00             8.40
7     -42.75    -14.25 2017-01-01 07:00:00             7.40
8     -42.75    -14.25 2017-01-01 08:00:00             7.83
9     -42.75    -14.25 2017-01-01 09:00:00             7.38

### **E. Exporta Resultados**

In [24]:
output_file = 'processed/teste_03_patio_ventoverif.csv'
df_result_vento_verif.to_csv(output_file, sep=';', encoding='utf-8')