<a href="https://colab.research.google.com/github/sergioopereira/AI/blob/main/mod4_redes_neurais/Code/NovoDataPrep/.ipynb_checkpoints/01_ConciliarDados-checkpoint.v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

### **A) Importar Dados de Chuvas, Pressao, Precipitação e Temperatura**

In [ ]:
output_direcao = 'content/processed/teste_03_patio_direcao.csv'

output_pressao = 'content/processes/teste_03_patio_pressao.csv'

output_temp = 'content/processed/teste_03_patio_temperatura.csv'

output_vento = 'content/processed/teste_03_patio_ventoverif.csv'

In [ ]:
df_direcao = pd.read_csv(output_direcao, delimiter = ";", index_col=0)

df_pressao = pd.read_csv(output_pressao, delimiter = ";", index_col=0)

df_temp = pd.read_csv(output_temp, delimiter = ";", index_col=0)

df_vento = pd.read_csv(output_vento, delimiter = ";", index_col=0)

# OBS: Senão utilizar o parametro index_col=0, o dataframe cria uma coluna "Unnamed" para representar o indice
# e a remoção desta coluna pode ser pelo comando: df.drop(df.columns[0], axis=1, inplace=True)

### **B) Sobre os 4 conjuntos de dados**

#### <span style="color:#DC143C">**B1. Formato dos Dados**

In [ ]:
print("Direcao:" + str(df_direcao.shape))

print("Pressao:" + str(df_pressao.shape))

print("Temperatura:" + str(df_temp.shape))

print("Vento:" + str(df_vento.shape))

Direcao:(8760, 4)
Pressao:(8760, 4)
Temperatura:(8760, 4)
Vento:(8760, 4)

#### <span style="color:#DC143C">**B2. Visão dos Dados**

In [ ]:
df_direcao.head(5)

   Longitude  Latitude                 Data  Direcao_Verif
0     -42.75    -14.25  2017-01-01 00:00:00         122.88
1     -42.75    -14.25  2017-01-01 01:00:00         119.20
2     -42.75    -14.25  2017-01-01 02:00:00         120.98
3     -42.75    -14.25  2017-01-01 03:00:00         119.72
4     -42.75    -14.25  2017-01-01 04:00:00         116.72

In [ ]:
df_temp.head(5)

   Longitude  Latitude                 Data  Temperatura_Verif
0     -42.75    -14.25  2017-01-01 00:00:00              19.54
1     -42.75    -14.25  2017-01-01 01:00:00              18.52
2     -42.75    -14.25  2017-01-01 02:00:00              17.63
3     -42.75    -14.25  2017-01-01 03:00:00              16.92
4     -42.75    -14.25  2017-01-01 04:00:00              16.48

In [ ]:
df_vento.head(5)

   Longitude  Latitude                 Data  Magnitude_Verif
0     -42.75    -14.25  2017-01-01 00:00:00             9.82
1     -42.75    -14.25  2017-01-01 01:00:00             8.74
2     -42.75    -14.25  2017-01-01 02:00:00             8.45
3     -42.75    -14.25  2017-01-01 03:00:00             9.18
4     -42.75    -14.25  2017-01-01 04:00:00             9.19

In [ ]:
df_pressao.head(5)

   Longitude  Latitude                 Data  pressao_Verif
0     -42.75    -14.25  2017-01-01 00:00:00         884.46
1     -42.75    -14.25  2017-01-01 01:00:00         882.33
2     -42.75    -14.25  2017-01-01 02:00:00         882.00
3     -42.75    -14.25  2017-01-01 03:00:00         882.00
4     -42.75    -14.25  2017-01-01 04:00:00         882.67

### **C) Merge dos dados**

In [ ]:
df_energia = pd.merge(df_vento, df_pressao, how = 'outer', on = ['Longitude','Latitude','Data'])
df_energia = pd.merge(df_energia, df_temp,  how = 'outer', on = ['Longitude','Latitude','Data'])
df_energia = pd.merge(df_energia, df_direcao, how = 'outer', on = ['Longitude','Latitude','Data'])

In [ ]:
df_energia

,Longitude,Latitude,Data,Magnitude_Verif,pressao_Verif,Temperatura_Verif,Direcao_Verif
0,-42.75,-14.25,2017-01-01 00:00:00,9.82,884.46,19.54,122.88
1,-42.75,-14.25,2017-01-01 01:00:00,8.74,882.33,18.52,119.20
2,-42.75,-14.25,2017-01-01 02:00:00,8.45,882.00,17.63,120.98
3,-42.75,-14.25,2017-01-01 03:00:00,9.18,882.00,16.92,119.72
4,-42.75,-14.25,2017-01-01 04:00:00,9.19,882.67,16.48,116.72
...,...,...,...,...,...,...,...
8755,-42.75,-14.25,2017-12-31 19:00:00,7.22,882.50,24.88,87.67
8756,-42.75,-14.25,2017-12-31 20:00:00,6.14,883.33,24.88,79.83
8757,-42.75,-14.25,2017-12-31 21:00:00,6.04,884.00,24.52,82.50
8758,-42.75,-14.25,2017-12-31 22:00:00,6.72,884.00,24.33,85.17
8759,-42.75,-14.25,2017-12-31 23:00:00,5.61,884.46,19.54,122.88

#### **D.1) Colunas NULAS ?**

In [ ]:
df_energia.isnull().sum()

Longitude            0
Latitude             0
Data                 0
Magnitude_Verif      0
pressao_Verif        0
Temperatura_Verif    0
Direcao_Verif        0
dtype: int64

### **D) Exporta Dados**

In [ ]:
output_file = 'content/processed/teste_02_concilia_patio1.csv'
df_energia.to_csv(output_file, sep=';', encoding='utf-8')