In [58]:
import pandas as pd
import numpy as np

### **A) Importar Dados de Chuvas, Pressao, Precipitação e Temperatura**

In [59]:
# Define a localização dos arquivos
output_precip = 'Data/result_chuva_patio1.csv'
output_pressao = 'Data/result_pressao_patio1.csv'
output_temp = 'Data/result_temperatura_patio1.csv'
output_vento = 'Data/result_vento_patio1.csv'
output_vento_verificado = 'Data/result_01_patio_ventoverif.csv'

In [60]:
# Carrega cada arquivo em DataFrames específicos
df_chuva = pd.read_csv(output_precip, delimiter = ";")
df_pressao = pd.read_csv(output_pressao, delimiter = ";")
df_temp = pd.read_csv(output_temp, delimiter = ";")
df_vento = pd.read_csv(output_vento, delimiter = ";")
df_vento_verif = pd.read_csv(output_vento_verificado, delimiter = ";")

### **B) Sobre os 4 conjuntos de dados**

#### <span style="color:#DC143C">**B1. Formato dos Dados**

In [61]:
# Exibe a dimensão de cada DataFrame
print("Precipitação:" + str(df_chuva.shape))
print("Pressão:" + str(df_pressao.shape))
print("Temperatura:" + str(df_temp.shape))
print("Vento:" + str(df_vento.shape))
print("Vento Verificado:" + str(df_vento_verif.shape))

Precipitação:(8760, 5)
Pressão:(8760, 5)
Temperatura:(8760, 5)
Vento:(8760, 6)
Vento Verificado:(8760, 5)

#### <span style="color:#DC143C">**B2. Visão dos Dados**

In [62]:
# Exibe uma prévia do DataFrame
df_chuva.head(5)

   Unnamed: 0  Longitude  Latitude  Valor_Chuva                 Data
0           0     -42.75    -14.25          0.0  2017-01-01 00:00:00
1           1     -42.75    -14.25          0.0  2017-01-01 01:00:00
2           2     -42.75    -14.25          0.0  2017-01-01 02:00:00
3           3     -42.75    -14.25          0.0  2017-01-01 03:00:00
4           4     -42.75    -14.25          0.0  2017-01-01 04:00:00

In [63]:
# Remove a primeira coluna referente ao índice criado
df_chuva.drop(df_chuva.columns[0], axis=1, inplace=True)
# Exibe uma prévia do DataFrame após a alteração
df_chuva.head(5)

   Longitude  Latitude  Valor_Chuva                 Data
0     -42.75    -14.25          0.0  2017-01-01 00:00:00
1     -42.75    -14.25          0.0  2017-01-01 01:00:00
2     -42.75    -14.25          0.0  2017-01-01 02:00:00
3     -42.75    -14.25          0.0  2017-01-01 03:00:00
4     -42.75    -14.25          0.0  2017-01-01 04:00:00

In [64]:
df_temp.head(5)
df_temp.drop(df_temp.columns[0], axis=1, inplace=True) # Remove a 1ºColuna,que foi o indice criado
df_temp.head(5)

   Longitude  Latitude  Valor_Temp                 Data
0     -42.75    -14.25       25.93  2017-01-01 00:00:00
1     -42.75    -14.25       25.73  2017-01-01 01:00:00
2     -42.75    -14.25       25.50  2017-01-01 02:00:00
3     -42.75    -14.25       23.67  2017-01-01 03:00:00
4     -42.75    -14.25       22.97  2017-01-01 04:00:00

In [65]:
df_vento.head(5)
df_vento.drop(df_vento.columns[0], axis=1, inplace=True) # Remove a 1ºColuna,que foi o indice criado
df_vento.head(5)

   Longitude  Latitude  Magnitude  Direção                 Data
0     -42.75    -14.25       6.82    97.36  2017-01-01 00:00:00
1     -42.75    -14.25       6.91    94.65  2017-01-01 01:00:00
2     -42.75    -14.25       7.27    92.98  2017-01-01 02:00:00
3     -42.75    -14.25       7.83    93.62  2017-01-01 03:00:00
4     -42.75    -14.25       7.81    96.33  2017-01-01 04:00:00

In [66]:
df_pressao.head(5)
df_pressao.drop(df_pressao.columns[0], axis=1, inplace=True) # Remove a 1ºColuna,que foi o indice criado
df_pressao.head(5)

   Longitude  Latitude  Valor_Pressao                 Data
0     -42.75    -14.25        1013.14  2017-01-01 00:00:00
1     -42.75    -14.25        1013.34  2017-01-01 01:00:00
2     -42.75    -14.25        1013.04  2017-01-01 02:00:00
3     -42.75    -14.25        1012.92  2017-01-01 03:00:00
4     -42.75    -14.25        1013.07  2017-01-01 04:00:00

In [67]:
df_vento_verif.head(5)
df_vento_verif.drop(df_vento_verif.columns[0], axis=1, inplace=True) # Remove a 1ºColuna,que foi o indice criado
df_vento_verif.head(5)

   Longitude  Latitude                 Data  Magnitude_Verif
0     -42.75    -14.25  2017-01-01 00:00:00           9.8150
1     -42.75    -14.25  2017-01-01 01:00:00           8.7350
2     -42.75    -14.25  2017-01-01 02:00:00           8.4545
3     -42.75    -14.25  2017-01-01 03:00:00           9.1775
4     -42.75    -14.25  2017-01-01 04:00:00           9.1855

### **C) Merge dos dados**

In [68]:
# Junta os DataFrames utilizando utilizando como índice ['Longitude','Latitude','Data']
df_energia = pd.merge(df_vento, df_pressao, how = 'outer', on = ['Longitude','Latitude','Data'])
df_energia = pd.merge(df_energia, df_temp,  how = 'outer', on = ['Longitude','Latitude','Data'])
df_energia = pd.merge(df_energia, df_chuva, how = 'outer', on = ['Longitude','Latitude','Data'])
df_energia = pd.merge(df_energia, df_vento_verif, how = 'outer', on = ['Longitude','Latitude','Data'])

In [69]:
df_energia

      Longitude  Latitude  Magnitude  ...  Valor_Temp Valor_Chuva  Magnitude_Verif
0        -42.75    -14.25       6.82  ...       25.93        0.00           9.8150
1        -42.75    -14.25       6.91  ...       25.73        0.00           8.7350
2        -42.75    -14.25       7.27  ...       25.50        0.00           8.4545
3        -42.75    -14.25       7.83  ...       23.67        0.00           9.1775
4        -42.75    -14.25       7.81  ...       22.97        0.00           9.1855
...         ...       ...        ...  ...         ...         ...              ...
8755     -42.75    -14.25       1.79  ...       32.56        0.01           7.2235
8756     -42.75    -14.25       2.26  ...       32.50        0.05           6.1385
8757     -42.75    -14.25       2.19  ...       29.74        0.00           6.0430
8758     -42.75    -14.25       0.62  ...       27.67        0.00           6.7235
8759     -42.75    -14.25       0.64  ...       29.09        0.00           5.6135

[8760 rows x 9 columns]

### **D) Exporta Dados**

In [70]:
output_file = 'Data/resultDados_patio1_completo.csv'
df_energia.to_csv(output_file, sep=';', encoding='utf-8')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')